:root {
    --pr-color: #fff;
    --second-color: #0a0a0a;
    --color-1-1: #be2518;
    --color-1-2: #ff6b4f;
    --cubicbz: cubic-bezier(.9, 0, .1, 1);
    --fz-big: 60px;
    --pd: 50px;

}

* {
    box-sizing: border-box;
    /* font-family: ; */
    font-weight: 800;
    margin: 0;
    padding: 0;
    font-feature-settings: "pnum" on, "lnum" on;

}

body{
    background-color: var(--second-color);
}

.wrapp{
    position: relative;
    width: 100%;
    height: auto;
    padding: 0 20px;
    z-index:1;

}

